body {
    background-color:hwb(48 82% 2% / 0.757) ;
}
h1 {
    font-family: 'Salsa', cursive;
}
#header { font-weight: 400;
    font-size: larger;
    text-align: center;
}
.f{ font-family: 'Salsa', cursive;
    background: hwb(18 11% 11%);
    display: block;
    width: 180px;
    height: 40px;
    border-radius: 7px;
    line-height: 40px;
    text-decoration: none;
    margin: 20px auto; 
    color: white;
}
.fp {
    font-family: 'Salsa', cursive;
}

.menu ul li { 
    display: inline-block;
    height: 40px;
    width: 100px;
}
.menu { 
    text-align: center;}
.menu a { color: hwb(285 28% 60%);
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    transition: 0.5s;
}
.menu a:hover{
    color: hwb(18 11% 11%);
}
.menu a:hover::after {
    transform: scaleX(1);
    transform-origin: left;}
.menu a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #4ddb34;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1s;
}
.menu-coffee {
    margin-left: 20px;
    font-family: 'Salsa', cursive;
}
.first-image {
    width: 250px;
    height: 200px;
}
.second-image {
    width: 250px;
    height: 200px;
}
.third-image {
    width: 250px;
    height: 200px;
}
.fourth-image {
    width: 250px;
    height: 200px;
}
.snack1 {
    width: 250px;
    height: 200px;
}
.snack2 {
    width: 250px;
    height: 200px;
}
.snack3 {
    width: 250px;
    height: 200px;
}
.snack4 {
    width: 250px;
    height: 200px;
}
.top-f {
color: hwb(285 28% 60%);
    text-decoration: none;
    position: relative;
    transition: 0.5s;
}
.top-f:hover {
    color: hwb(18 11% 11%);
}
.top-f:hover::after{ 
            transform: scaleX(1);
            transform-origin: left;
    
}
.top-f::after{
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background: #4ddb34;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 1s;
        }
        .message {
            font-family: 'Salsa', cursive;
            background: hwb(18 11% 11%);
            width: 200px;
            height: 40px;
            border-radius: 7px;
            line-height: 40px;
            text-decoration: none;
            margin: 20px auto; 
            color: white;
            border: none;

        }
        .boxs {
            border-radius: 5px;
            border: none;
            line-height: 25px;
            width: 200px;
        }